.addTask {
    margin: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 5px;
    color: #4C4E69;
    border-radius: 5px;
}

.addTask input {
    border: solid 2px #e4e4e4;
    border-radius: 5px;
    margin: 5px;
    line-height: 20px;
    padding: 5px
}

.addTask button {
    font-size: 0.9em;
    margin-right: 5px;
    padding: 3px 10px;
    border: none;
    border-radius: 10px;
    color: #4C4E69;
    cursor: pointer;
}