* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.App {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    height: 100%;
    overflow: auto;
}

/* AddTask*/
.addTask {
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 5px;
    color: #4C4E69;
    border-radius: 5px;
}

.addTask input {
    border: solid 2px #e4e4e4;
    border-radius: 5px;
    margin: 5px;
    line-height: 20px;
    padding: 5px
}

.addTask button {
    font-size: 0.9em;
    margin-right: 5px;
    padding: 3px 10px;
    border: none;
    border-radius: 10px;
    color: #4C4E69;
    cursor: pointer;
}



/* Dialog */
.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e4e4e4;
    padding: 15px;
    border-radius: 10px;
}

.dialog p {
    color: #4C4E69;
    font-weight: 500;

}

.dialog button {
    font-size: 0.9em;
    margin-right: 10px;
    padding: 2px 7px;
    border: none;
    border-radius: 15px;
    color: #4C4E69;
    cursor: pointer;
    height: 30px;
    background-color: #fff;
}

.dialog button.yes {
    background-color: #FFA2A2;

}

.dialog button.no {
    background-color: #B3EC8D;

}

/* Header */


header {
    background-color: #24292f;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #fff;
    letter-spacing: 0.05em;
}



/* Main */
main {
    position: relative;
    display: flex;
    min-height: 90vh;
    background-color: #fff;
}




/* sidebar  */

.sidebar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 20%; */
    height: auto;
    background-color: #e4e4e4;
    transition: .3s;
}

.sticky {
    position: fixed;
    top: 0px;
}


.visible {
    width: 300px;
}

.hidden {
    width: 0px;
}

.sidebar button {
    border: none;
    position: absolute;
    top: 5px;
    color: #4C4E69;
    transition: .3s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e4e4e4;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;

}

.visible button {

    right: 10px;
    color: #4C4E69;
    transition: .3s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e4e4e4;
}

.visible button:hover {
    transform: translateX(-10%);
}

.hidden button {
    right: -45px;
}

.hidden button:hover {
    transform: translateX(10%);

}



nav {
    position: relative;
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 90%;
}


nav ul {
    width: 100%;
}

nav .sidebarNav {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 0.9em;
    border: none;
    color: #4C4E69;
    width: 100%;
    font-weight: 500;
    font-size: 1em;
    margin: 5px;

}





.active {
    background-color: #fff;
}



nav .sidebarNav span:nth-child(2) {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin-right: 10px;
    padding: 2px 7px;
    border-radius: 20px;
    color: #4C4E69;
    background-color: #fff;
    transition: 0.3s;

}

nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #4C4E69;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

nav a:hover {
    background-color: #fff;
}

/* nav .sidebarNav .active span:nth-child(2) {
    background-color: #e4e4e4;
}

nav .sidebarNav a:hover span:nth-child(2) {
    background-color: #e4e4e4;
} */


/* main container  */
.mainContainer {

    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: #fff;
}





/* Task */
.tasks {
    /* margin: 30px; */
    /* border: 2px solid #e4e4e4; */
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}

.tasks .taskHeader {
    background-color: #e4e4e4;

    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.tasks h2 {
    width: 80px;
    text-align: center;
    font-size: 1em;
    color: #4C4E69;
    border-radius: 20px;
    padding: 2px 5px
}

.taskHeader span {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin-right: 10px;
    padding: 2px 7px;
    border-radius: 20px;
    color: #4C4E69;
    background-color: #fff;
}

.tasks ul li {
    list-style: none;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.tasks ul li div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.tasks ul li div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.tasks button {
    font-size: 0.9em;
    margin-right: 10px;
    padding: 2px 7px;
    border: none;
    border-radius: 15px;
    color: #4C4E69;
    cursor: pointer;
    height: 30px;
    width: 80px;
}

.tasks .deleteBtn {
    background-color: #FFA2A2;
}

.tasks .doneBtn {
    background-color: #B3EC8D;
}


.tasks ul li span {
    margin: 5px;
    font-size: 0.9em;
    margin-right: 10px;
    font-weight: 500;
    color: #4C4E69;
}

.tasks ul li span.text {
    width: auto;
    text-align: left;
}

.tasks ul li span.date span {
    font-size: 0.8em;
    flex-wrap: nowrap;
}






/* media */
@media (max-width: 991px) {
    .addTask {

        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

    }
}

@media (max-width: 767px) {


    .sidebar {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;

    }

    .visible {
        width: 100%;
        z-index: 10;
    }

    /* .mainContainer {
        width: auto;
    } */


    .tasks ul li {
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }


    .tasks ul li div:nth-child(1) {

        justify-content: center;
    }

    .tasks ul li div:nth-child(2) {

        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;

    }

    .tasks button {
        margin-bottom: 5px;
    }
}